:root {
    background-color: #ccc;
    
}

section {
    margin: auto;
    width: 95%;
    border-radius: 5px;
}

header {
    width: 100%;
    background-color: #4f4f4f;
    color: #fff;
    font-size: 42px;
    font-weight: 800;
}

nav {
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 60px; 
}

main {
    width: 100%;
    background-color: #fff;
    color: #000;
}

footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 60px;
}